html {
    scroll-behavior: smooth;
}

/* Graphics */
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.9);
        opacity: 0.7;
    }
    50% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.9);
        opacity: 0.7;
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        opacity: 0.7;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.9);
        opacity: 0.7;
    }
}

.blob {
    position: absolute;
    z-index: -1;
    max-width: 40vw;

    -webkit-animation: pulse 3s infinite ease-in-out;
    -o-animation: pulse 3s infinite ease-in-out;
    -ms-animation: pulse 3s infinite ease-in-out;
    -moz-animation: pulse 3s infinite ease-in-out;
    animation: pulse 3s infinite ease-in-out;
}

/* Header */
.headerlogo {
    max-width: calc(min(85vw, 450px));
}

/* Section */
.heading {
    text-align: center;
}

/* Image Outline */
.outline {
    outline-color: white;
    outline-width: 5px;
    outline-style: solid;
}

/* Images */
.circle {
    border-radius: 50%;
}

/* Zoom hover */
.zoom {
    transition: transform .2s;
    transform: scale(1);
}

.zoom:hover {
    transform: scale(1.01);
}

/* Hack for vertical alignment */
.spacer {
    height: 50%;
}

.verticalCenter {
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}